<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <include file="App/Admin/View/component/impot.comp.html" />
    <link href="__ADIST__/ctos/ctos.css" rel="stylesheet" type="text/css">

    <title>编辑医院</title>
    <style>
        body {
            padding: 0 100px;
            background-color: #f9f9f9;
        }

        .o-panel {
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
        }

        .edui-container {
            display: inline-block;

        }

        .layui-form-select dl {
            z-index: 9999;
        }

        #hosp_head_img {
            border-radius: 50%;
            margin: 10px 0;
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>

    <div class="o-panel">
        <div class="o-panel-head">
            <div class="o-panel-title">
                编辑医院
            </div>
        </div>
        <div class="o-panel-body">

            <form class="layui-form">
                <div class="form-group">
                    <label>医院名</label>
                    <input type="text" lay-verify='required' value="{$hosp.hosp_title}" autocomplete="off" class="o-form-control" name="hosp_title"
                        placeholder="医院名">
                </div>
                <div class="form-group">
                    <label>医院头像</label>
                    <button type='button' class="layui-btn layui-black" id="upload">
                        <i class="layui-icon">&#xe67c;</i>
                        上传医院头像
                    </button>
                </div>

                <div class="form-group">
                    <label> </label>
                    <img src="__ROOT__/{$hosp.hosp_head}" alt="" id="hosp_head_img" name="hosp_head">
                    <input type="hidden" name="hosp_head" value='{$hosp.hosp_head}' id="hosp_head">
                </div>

                <div class="form-group">
                    <label>医院简介</label>
                    <textarea cols="30" rows="10" class="o-form-control" name="hosp_info" placeholder="医院简介（255字以内）">{$hosp.hosp_info}</textarea>
                </div>


                <div class="form-group">
                    <label> </label>
                    <button type="button" class="btn btn-default o-btn" lay-submit lay-filter="save">保存</button>
                </div>


            </form>

        </div>
        <div class="o-panel-footer">
        </div>
    </div>


    <script src="__ADIST__/linkage/linkage.js" type="text/javascript" charset="utf-8"></script>
    <script>

        var count = 0;

        layui.use(['form', 'upload'], function () {
            var form = layui.form;
            upload = layui.upload;

            form.on('submit(save)', function (data) {
                // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                // console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}
                if (count > 0) {

                    layer.confirm('检测到您已经编辑过此医院，是否重新编辑一份新的医院？', {
                        btn: ['重新编辑新医院', '刷新页面'] //可以无限个按钮

                    }, function (index, layero) {
                        //重新编辑新医院
                        layer.close(index);
                        savehosp(data);
                    }, function (index) {
                        //刷新页面
                        window.location.href = window.location.href;
                        return false;
                    });
                    return false;
                } else {
                    savehosp(data);

                }


                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

            //执行实例
            var uploadInst = upload.render({
                elem: '#upload' //绑定元素
                , url: '__MODULE__/Use/upFile' //上传接口
                // , accept: 'file' //允许上传的文件类型
                // , exts: 'csv'
                // , auto: false
                , data: {
                    src: '/hosp/img/',
                    del_src: '{$hosp.hosp_head}'
                }
                , drag: true
                , done: function (res) {
                    //上传完毕回调

                    this.data.del_src = res.data.src;

                    if (res.code == 0) {
                        //成功
                        $('#hosp_head_img').attr('src', '__ROOT__/' + res.data.src);
                        $('#hosp_head').val(res.data.src);

                    }
                }
                , error: function () {
                    //请求异常回调
                    layer.msg('异步接口出错！', {
                        anim: 6
                    });
                }
            });


        });



        function savehosp(data) {


            var length = data.field.hosp_title.length;
            if (length > 255) {

                layer.msg('标题不能大于255个字', {
                    anim: 6
                });
                return;
            }


            var length = data.field.hosp_info.length;
            if (length > 255) {

                layer.msg('简介不能大于255个字', {
                    anim: 6
                });
                return;
            }



            var url = '__MODULE__/use/saveField';
            var obj = {
                table: 'hosp',
                id: "{$hosp.hosp_id}",
                save: data.field
            };
            var fun = function (res) {
                try {
                    res = JSON.parse(res);

                    if (res.res >= 0) {
                        layer.msg('保存成功~');

                    } else {
                        layer.msg('保存失败~', {
                            amin: 6
                        });
                    }


                } catch (error) {
                    //转换错误
                    layer.msg('接口错误！', {
                        amin: 6
                    });
                    return;
                }



            };
            $.post(url, obj, fun);


        }


    </script>



</body>

</html>